<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8">
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link rel=icon href="/assets/image/icon.png" sizes="any" type="image/png">
		<link rel="manifest" href="/manifest/manifest.json" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<meta name="google" value="notranslate">
		<meta property="og:image" content="./assets/image/Icon.png">
		<meta property="og:description" content="<%= htmlWebpackPlugin.options.title %>">
		<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>